<!DOCTYPE html>
<!--
 - 计算圆面积
 - @author ydr.me
 - @create 2015-03-24 16:55
 -->
<html>
<head lang="zh-cn">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width,user-scalable=no,maximum-scale=1.0,minimum-scale=1.0,minimal-ui">
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta name="author" content="云淡然;http://ydr.me">
    <meta name="keywords" content="关键词1,关键词2">
    <meta name="description" content="描述语句">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <title>计算圆面积</title>
    <!--coolie-->
    <link rel="stylesheet" href="/static/css/style.css"/>
    <!--/coolie-->
</head>
<body ontouchstart="">
<h1>计算圆面积：</h1>

圆半径：<input type="text" value="0" id="input"/><br>
圆面积：<span id="output">0</span>

<script src="/static/js/coolie.min.js"
        data-config="./coolie-config.js"
        data-main="./area.js"></script>

</body>
</html>