<!DOCTYPE html>
<!--
 - 计算圆周长
 - @author ydr.me
 - @create 2015-03-24 16:55
 -->
<html>
<head lang="zh-cn">
    <meta charset="UTF-8">
    <title>计算圆周长</title>
    <!--coolie-->
    <link rel="stylesheet" href="/static/css/font.css"/>
    <link rel="stylesheet" href="/static/css/img.css"/>
    <link rel="stylesheet" href="/static/css/style.css"/>
    <!--/coolie-->
</head>
<body ontouchstart="">
<h1>计算圆周长：</h1>

圆半径：<input type="text" value="0" id="input"/><br>
圆周长：<span id="output">0</span>

<script coolie src="/static/js/coolie.min.js"
        data-config="./coolie-config.js"
        data-main="./length.js"></script>

</body>
</html>